@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');


/* remove nitro/monetization from many places */
.link__972a0[href="/store"],
.button__74017[aria-label="Send a gift"],
[data-settings-sidebar-item="subscriptions_panel"],
[data-settings-sidebar-item="billing_panel"],
[data-settings-sidebar-item="premium_guild_subscriptions_panel"],
[data-settings-sidebar-item="nitro_panel"],
.item_aa8da2[aria-label="Merch"],
.item_c1e9c4[id="guild-header-popout-premium-subscribe"],
.link__972a0[href="/shop"],
.nitroWheel_c5f0dc,
.premiumIcon__67a11,
.container__8279f,
.flowerStarContainer__3e3b0 {
    display: none;
}
/* change billing settings section title */
.section__409aa[aria-label="Billing Settings"] > div > h1{
  color: rgba(0, 0, 0, 0)!important;
}
.section__409aa[aria-label="Billing Settings"] > div > h1::before{
  content: "Gifts"; 
  color: rgb(88, 90, 111);
}

/* new messages divider */
.divider__908e2 {
    border-width: 2px;
}

/* left sidebar shrink */
.sidebarList__5e434 {
    width: 265px!important;
}

/* new message channel badge color */
.newChannel__599fa, .textBadge_f05120, .base__5ed84, .eyebrow_c15ff6, .baseShapeRound__2b1f5{
  background-color: var(--accent-1)!important;
  color: var(--text-0);
}

/* viggy on load */
.container_a2f514 video.ready_a2f514 {
    display: none;
}
.content_a2f514::before {
    visibility: visible;
    content: '';
    display: block;
    background: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=240);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    margin: auto;
    margin-bottom: 48px;
}

/* mosaic zoom fix */
.imageWrapper_af017a img.lazyImg_f4758a { object-fit: contain !important; }

/* twemoji everywhere */
@font-face {
    font-family: "TwemojiColor";
    src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf");
}
body {
    --font-primary: var(--font), sans-serif, "TwemojiColor";
}
/* user panel area hover animation */
.avatarWrapper__37e49{
    transform: scale(1);
    transition: transform 0.2s ease-in-out!important;
}
.avatarWrapper__37e49:hover{
    transform: scale(1.04);
}

/* make messages match rounded theme */
.message__5126c{
    border-radius: 10px;
    margin-left: 10px;
}

/* remove app launcher */
.channelAppLauncher_e6e74f{
    display: none;
}

/* remove app launcher */
.button_e6e74f[aria-label="Apps"]{
    display: none;
}

/* Automatically resizing gif picker */
:root {
    /* Change me! */
    --expression-picker-aspect-ratio: 1.125 / 1;
}
.expressionPickerPositionLayer__74017 .positionContainer__08434 {
    height: calc(100vh - 128px);
}
.expressionPickerPositionLayer__74017 .drawerSizingWrapper__08434 {
    max-height: 100%;
    bottom: 0px;
    height: auto;
    aspect-ratio: var(--expression-picker-aspect-ratio);
}
/* Fixes soundmoji picker which has a hardcoded height */
.expressionPickerPositionLayer__74017 .picker__09f65 {
    height: 100%;
}

/* Server Icon Animation */
.svg_cc5dd2 {
    transform: scale(0.95);
    transition: transform 0.4s;
}
.svg_cc5dd2:hover{
    transform: scale(1.02);
}

/* --Improved User Area-- */
/* Make both the username and status message visible at all times. */
.container__37e49 .hovered__0263c, .hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .default__0263c{
  opacity: 1!important;
  transform: none;
}
/* Move the custom Status message down so that it doesnt overlap with the Username */
.default__0263c{
  margin-top: 15px;
}

/* small + right justify message bars + color */
.barBase__0f481 {
  width: fit-content;
  margin-left: auto;
}
.newMessagesBar__0f481::before{
  background-color: var(--accent-1);
}
.jumpToPresentBar__0f481{
  background: var(--accent-5);
}

/* remove invite button next to channel name(removes settings icon as well if you have manage channels)*/
.actionIcon_c69b6d {
    display: none;
}

/* Custom Emoji Button */
.sprite__04eed.spriteColored__04eed {
    background-image: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
    background-size: 18px;
}
.sprite__04eed.spriteGreyscale__04eed {
    mask-image: url(https://cdn.discordapp.com/emojis/1024751291504791654.png?size=128&quality=lossless);
    mask-size: 18px;
}

/* authorized app collapse */
.authedApp__50a54{
    max-height:32px;
    box-sizing:content-box;
    overflow:hidden;
    transition:max-height 1.3s cubic-bezier(0.3, 0.55, 0.6, 1);
}
.authedApp__50a54:hover{
    max-height:100vh
}

/* toolbar collapse */
.callContainer_cb9592 .upperContainer__9293f .toolbar__9293f::before,
.callContainer_cb9592 .upperContainer__9293f .toolbar__9293f::after {
  content: "";
  font-size: unset;
  scale: 1;
}

.callContainer_cb9592 .upperContainer__9293f .toolbar__9293f {
  transition: unset;
  translate: unset;
  padding-bottom: unset;
  padding-left: unset;
}
.callContainer_cb9592 .upperContainer__9293f .toolbar__9293f:hover {
  translate: unset;
}

.upperContainer__9293f .toolbar__9293f::before,
.upperContainer__9293f .toolbar__9293f::after {
  content: "<";
  font-size: 1.8rem;
  scale: 1;
  color: var(--interactive-normal);
  display: flex;
  align-items: center;
  position: absolute;
  right: 100%;
  height: 100%;
  transition: scale 0.3s ease-in-out;
  background-color: var(--bg-3);
  border-radius: 16px 0px 0px 16px;
  padding-left: 4px;
}

.upperContainer__9293f .toolbar__9293f {
  transition: all ease-in-out 1.1s;
  translate: calc(100% - 8px);
  background-color: var(--bg-3);
  border-radius: 0px 16px 16px 0px;
  padding-left: 10px;
}
.upperContainer__9293f .toolbar__9293f::before {
  transition: all ease-in-out 0.5s;
  width: 0;
  opacity: 0;
}
.upperContainer__9293f .toolbar__9293f:hover {
  translate: 0%;
  padding-left: 2px !important;
}


/* profile effects gone */
.profileEffects__01370 {
  display:none;
}

/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}

/* compact blocked messages */
.scrollerInner__36d07>.groupStart__5126c:not(.backgroundFlash__5126c)>.wrapper_c19a55 {padding: 0 0 0 16px}
.scrollerInner__36d07>.groupStart__5126c:not(.backgroundFlash__5126c)>.wrapper_c19a55.compact_c19a55 {padding: 0 0 0 108px}
.scrollerInner__36d07>.groupStart__5126c:not(.backgroundFlash__5126c) {margin: 0}
.scrollerInner__36d07>.groupStart__5126c.expanded__7a70a:not(.backgroundFlash__5126c) {background-color: var(--message-hover)}
.scrollerInner__36d07>.groupStart__5126c:not(.backgroundFlash__5126c) .messageListItem__5126c .groupStart__5126c,
.scrollerInner__36d07>.groupStart__5126c:not(.backgroundFlash__5126c, .expanded__7a70a)+.messageListItem__5126c .groupStart__5126c {margin-top: 0}
.scrollerInner__36d07>.groupStart__5126c:not(.backgroundFlash__5126c) .messageListItem__5126c {opacity: .5}
.blockedSystemMessage__7a70a .iconContainer__235ca {display: none}
.blockedMessageText__7a70a {position: relative;font-size: 12px;line-height: 16px;color: var(--interactive-muted)}
.blockedMessageText__7a70a:hover {text-decoration: underline}
.blockedMessageText__7a70a:hover,.groupStart__5126c.expanded__7a70a .blockedMessageText__7a70a {color: var(--info-danger-foreground)}
.blockedAction__7a70a {position: absolute;inset: 0;width: 100%;opacity: 0}
.blockedMessageText__7a70a:after {content: '';position: absolute;right: 0;height: 100%;width: 14px;pointer-events: none;background-color: currentColor;
-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

/* simple edited icon */
.edited_c19a55 {color: rgba(0,0,0,0)}
.edited_c19a55::before {
        content: " ✎";
        color: var(--text-muted);
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1;
}

/* colorful embeds 1124341362955919371 */
.embedFull__623de {
    overflow: hidden;

    &::before {
        top: -1px;
        content: "";
        position: absolute;
        border: inherit;
        border-left-width: 100vw;
        max-width: 100%;
        height: calc(100% + 2px);
        box-sizing: border-box !important;
        opacity: 0.1;
        z-index: 1;
        border-radius: 0px 8px 8px 0px;
    }

    .gridContainer__623de {
        z-index: 2;
    }
}
.withAccentColor__60fa3 {
    background: color-mix(in srgb, var(--background-surface-high), var(--__accent-color) 25%);
}

/* hide chat box if you have no send permissions */
.channelTextAreaDisabled__74017 {
  display: none;
}

/* tool+navbar position fix */
.visual-refresh {
    .trailing_c38106 {
        position: absolute;
        top: 0px;
        z-index: 1000;
    }
}
.toolbar__9293f{
    padding-right: 8px!important;
}

/* message bar band-aid*/
.align-chat-input .attachButton__0923f {
    height: 25px;
    padding: 0;
}
.ellipsis_b88801, .dots__5ad89, .themed__5ad89{
    width: fit-content;
    height: 7.1px!important;
}

/* user panel band-aid */
.container_e131a9{
    height: 100px;
}
.inner_e131a9, .rtcConnectionStatusWrapper__06d62, .rtcConnectionStatus__06d62{
    height: fit-content!important;
    width: fit-content!important;
}
.default__0263c{
    margin-top: 0;
}
.title_b6c092 {
    font-size: 14px;
}
.panelSubtextContainer__37e49 .subtext__339d0 .hoverRoll__0263c .hovered__0263c{
    display: none;
}

/* fix user panel from status text being too long */
.textXs_c9d15c{
    max-width: 4.4rem;
    transition: max-width 0.2s ease-in-out;
}
.textXs_c9d15c:hover{
    max-width: 9rem;
}

/* change home icon */
:root{
--home-icon-url: url('https://i.imgur.com/TrlByk8.gif');
}
.childWrapper__6e9f8 > svg{
  display: none;
}
.childWrapper__6e9f8::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    mask-image: var(--home-icon-url) center/contain no-repeat !important;
    mask: var(--home-icon-url) center/contain no-repeat !important;
    transform: none;
}

/* user panel edit 490961337896402944 */
.panels__5e434 .avatarWrapper__37e49 {
  min-width: unset;
}

.avatarWrapper__37e49 {
  border-radius: 100% !important;
  width: min-content;
 
 &:hover {
    background-color: transparent !important;
 }
 
 & > .avatar__37e49 {
    width: 30px !important;
    height: 40px;
    margin-top: -1px;

    & > svg {
      width: 39px !important;
    }  
  }
}

/* user popout text backgrounds */
.nickname__63ed3, .userTagUsername__63ed3, .pronounsText__63ed3{
    border: none;
    background: var(--profile-contrast);
    padding: 1px 8px;
    border-radius: 8px;
    color: #ffffff;
}
.guildTagContainer__63ed3{
    border: none;
    background: var(--profile-contrast);
    padding: 1px 2px;
    border-radius: 8px;
}
.guildTagContainer__63ed3:hover{
    background: var(--profile-contrast);
}
.badge__8061a{
    border: none;
    background: var(--profile-contrast);
    padding: 2px 2px;
    border-radius: 8px;
}
.dotSpacer__63ed3{
    background-color: var(--profile-contrast);
}

/* remove create dm buttom */
.privateChannelRecipientsInviteButtonIconContainer__99e7c{
    display: none;
}

/* remove animation when switching between images in a mosaic */
.base__5cd44{
    animation: none;
    opacity: 100;
}

/* remove i/o switcher in user panel to save space */
.button__67645[aria-label="Input Options"], .button__67645[aria-label="Output Options"]{
    display: none;
}
.button__67645{
    border-radius: 8px!important;
}

/* size inbox button appropriately */
.clickable_c99c29[aria-label="Inbox"] > svg{
    width: 14px;
    height: 14px;
}

/* window controls */
.button__85643{
    width: 20px;
}
.visual-refresh .trailing_c38106{
    height: 20px;
}

/* folder radius in folder 586962558435590154 */
.folderPreviewWrapper__48112 > .folderPreviewGuildIcon__48112,
.iconSizeMini_f34534 {
    border-radius: 35% !important;
}

/* revert user panel position 683171006717755446 */
.visual-refresh section.panels__5e434 {
  margin-left: 77px;
  width: calc(100% - var(--space-xs)*2 - 61px) !important;
  .actionButtons_e131a9 button {
    padding: 0;
  }
}
nav.guilds__5e434 {
  margin-bottom: 0 !important;
}

/* collapsed members 100090349376000000 */
.visual-refresh .container_c8ffbb .membersWrap_c8ffbb {
  position: fixed;
  height: 84%;
  margin-top: 12px;
  opacity: 100%;
  z-index: 999;
  transform: translateX(1px); 
  background-color: var(--bg-4);
  filter: drop-shadow(-4px -4px 6px rgb(24, 24, 37))!important;
  border-radius: 18px;
  
  transition-property: transform, opacity;
  transition-duration: 0.65s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.visual-refresh .container_c8ffbb .membersWrap_c8ffbb:hover {
  transform: translateX(-200px);
  opacity: 100%;
}
.content_f75fb0 {
  width: 69.3rem;
}
.visual-refresh .container_c8ffbb {
    min-width: 0;
    background-color: var(--bg-3);
}
.membersGroup_c8ffbb{
    padding: 16px 0px 0px 16px;
}
h3.membersGroup_c8ffbb > span[aria-hidden="true"]{
  width: 100%;
  text-align: center;
  display: inline-block;
}

/* Role Borders 1323433010858557523 */
:root{
--roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */
--roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
}
.role_dfa8b6 {
transform: translate(0);
border: 0;
border-radius: var(--roles-roundness-calc);
}
.role_dfa8b6 .roleRemoveIcon_dfa8b6 {
left: 11px;
}
.role_dfa8b6 .roleRemoveButton_dfa8b6 {
position: static
}
.role_dfa8b6 .roleCircle__4f569:before,
.role_dfa8b6 .roleFlowerStar_dfa8b6:before {
content: '';
top: 0;left: 0;
z-index: -1;
width: 100%;
height: 100%;
box-sizing: border-box;
position: absolute;
background: inherit;
border-radius: var(--roles-roundness-calc);
border: 2px solid transparent;
-webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
-webkit-mask-composite: xor;
}
/* Roles Background */
.role_dfa8b6 {
transform: translate(0);
overflow: hidden;
border: 0;
--transparency: .4; /*Change Background Opacity*/
border-radius: 5px; /*Change Roundness of Roles*/
}
.role_dfa8b6 .roleRemoveIcon_dfa8b6 {
left: 11px;
}
.role_dfa8b6 .roleRemoveButton_dfa8b6 {
position: static;
}
.role_dfa8b6 .roleCircle__4f569:after,
.role_dfa8b6 .roleFlowerStar_dfa8b6:after {
content: '';
top: 0;
left: 0;
z-index: -1;
width: 100%;
height: 100%;
position: absolute;
background: inherit;
opacity: var(--transparency);
}

/* https://rinlovesyou.github.io/Couve/snippets/couve-profile-popout.css */
:root {
  --badges-background: #00000000;
}

.layer__59d0d .outer_c0bea0 .header__5be3e {
  min-height: 220px !important;
}
.layer__59d0d .outer_c0bea0 .header__5be3e > .mask__68edb {
  overflow: visible;
  min-height: unset !important;
  contain: unset;
}
.layer__59d0d .outer_c0bea0 .header__5be3e > .mask__68edb .banner__68edb {
  position: absolute;
  height: 200px !important;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.7607843137), rgba(0, 0, 0, 0.7607843137));
  mask-image: linear-gradient(rgba(0, 0, 0, 0.7607843137), rgba(0, 0, 0, 0.7607843137));
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 98.38%, 3.33% 97.67%, 6.67% 96.85%, 10.00% 96.02%, 13.33% 95.25%, 16.67% 94.62%, 20.00% 94.19%, 23.33% 94.01%, 26.67% 94.08%, 30.00% 94.41%, 33.33% 94.95%, 36.67% 95.67%, 40.00% 96.48%, 43.33% 97.31%, 46.67% 98.08%, 50.00% 98.71%, 53.33% 99.14%, 56.67% 99.33%, 60.00% 99.25%, 63.33% 98.93%, 66.67% 98.38%, 70.00% 97.67%, 73.33% 96.85%, 76.67% 96.02%, 80.00% 95.25%, 83.33% 94.62%, 86.67% 94.19%, 90.00% 94.01%, 93.33% 94.08%, 96.67% 94.41%, 100.00% 94.95%);
}
.layer__59d0d .outer_c0bea0 .header__5be3e > .mask__68edb > foreignObject {
  mask: none;
}
.layer__59d0d .outer_c0bea0 .wrapper__4106a {
  flex-direction: column;
}
.layer__59d0d .outer_c0bea0 .container_ab8609,
.layer__59d0d .outer_c0bea0 .ring_ab8609 {
  top: unset;
  right: unset;
  bottom: -4px;
  left: 16px;
  z-index: 2;
  border-radius: 0;
}
.layer__59d0d .outer_c0bea0 .container_ab8609 > .outer_ab8609,
.layer__59d0d .outer_c0bea0 .ring_ab8609 > .outer_ab8609 {
  border: none;
  box-shadow: none;
  background: transparent;
  min-width: unset;
  max-width: unset;
  border-radius: 0;
}
.layer__59d0d .outer_c0bea0 .container_ab8609 > .outer_ab8609::before, .layer__59d0d .outer_c0bea0 .container_ab8609 > .outer_ab8609::after,
.layer__59d0d .outer_c0bea0 .ring_ab8609 > .outer_ab8609::before,
.layer__59d0d .outer_c0bea0 .ring_ab8609 > .outer_ab8609::after {
  display: none;
}
.layer__59d0d .outer_c0bea0 .container_ab8609 > .outer_ab8609 > .inner_ab8609,
.layer__59d0d .outer_c0bea0 .ring_ab8609 > .outer_ab8609 > .inner_ab8609 {
  padding: 0;
  background: transparent;
}
.layer__59d0d .outer_c0bea0 .container_ab8609 > .outer_ab8609 > .inner_ab8609 > .content_ab8609 .text-sm\/normal_cf4812,
.layer__59d0d .outer_c0bea0 .ring_ab8609 > .outer_ab8609 > .inner_ab8609 > .content_ab8609 .text-sm\/normal_cf4812 {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 270px;
}
.layer__59d0d .outer_c0bea0 .outer_ab8609::before, .layer__59d0d .outer_c0bea0 .outer_ab8609::after {
  display: none;
}
.layer__59d0d .outer_c0bea0 .avatar__75742 {
  top: 15px !important;
  left: calc(50% - 40px) !important;
}
.layer__59d0d .outer_c0bea0 .avatar__75742 .avatarPopover__2d0ab {
  top: 0;
  left: 0;
}
.layer__59d0d .outer_c0bea0 .avatar__75742 .avatarPopover__2d0ab foreignObject {
  mask: none !important;
}
.layer__59d0d .outer_c0bea0 .mask__44b0c circle,
.layer__59d0d .outer_c0bea0 .mask__44b0c rect[fill=black] {
  display: none;
}
.layer__59d0d .outer_c0bea0 .body__5be3e,
.layer__59d0d .outer_c0bea0 .body_ce8328 {
  position: static;
}
.layer__59d0d .outer_c0bea0 .container__63ed3 {
  position: absolute;
  top: 105px;
  left: 0;
  right: unset;
  width: 100%;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.layer__59d0d .outer_c0bea0 .usernameRow__63ed3 .clickableUsername__63ed3 {
  width: 100%;
}
.layer__59d0d .outer_c0bea0 .usernameRow__63ed3 .clickableUsername__63ed3 h1 {
  display: block;
  text-align: center;
}
.layer__59d0d .outer_c0bea0 .usernameRow__63ed3 .nicknameIcons__63ed3 {
  display: none;
}
.layer__59d0d .outer_c0bea0 .usernameRow__63ed3 {
  gap: 0;
  flex-direction: column;
}
.layer__59d0d .outer_c0bea0 .tags__63ed3 {
  margin-top: 2.5px;
  justify-content: center;
  flex-direction: row;
}
.layer__59d0d .outer_c0bea0 .tags__63ed3 .dotSpacer__63ed3 {
  order: -2;
}
.layer__59d0d .outer_c0bea0 .tags__63ed3 .clickableUsername__63ed3 {
  order: -3;
}
.layer__59d0d .outer_c0bea0 .tags__63ed3 .container__8061a {
  border: none;
  background: var(--badges-background);
  border-radius: 8px;
}
.layer__59d0d .outer_c0bea0 .tags__63ed3 .guildTagContainer__63ed3 {
  order: -1;
}
.wrapper__0c74f{
  gap: 2px;
}
.bannerButton_fb7f94{
  height: 25px;
  width: 25px;
}
.bannerButton_fb7f94 > svg{
  height: 15px;
  width: 15px;
  color: var(--text-4);
}

/* page swapper refresh 490604571824226306*/
.scroller_a98f3b {
  display: contents;
}
#search-results {
  flex: 1 1 auto;
  padding: 16px 8px 0 16px;
  overflow: hidden scroll;
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    margin-bottom: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-thin-thumb);
    border: 2px solid transparent;
    border-radius: 4px;
    min-height: 40px;
  }
}
.searchResultGroup_a7e67f:last-child {
  margin-bottom: 0;
}
.container_a244c3 {
  background: var(--bg-3);
  border-radius: var(--radius-sm);
  margin-inline: var(--space-xs);
  margin-bottom: var(--space-xs);
  &:empty {
    display: none;
  }
}
.pageControlContainer_c15210 {
  display: contents;
}
.pageControl_c15210 {
  box-sizing: border-box;
  gap: var(--space-8);
  height: 56px;
  justify-content: center;
  padding: 0 var(--space-sm);
  margin: 0;
  width: 100%;
}
.pageButton_c15210 {
  font-weight: 500;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  padding: 0 var(--space-8) !important;
  margin: 0 !important;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  background-color: var(--bg-4);
  border-color: var(--border-light);
  color: var(--text-3);
  transition: .17s ease;
  &:hover {
    background-color: var(--hover);
    border-color: var(--border-hover);
    color: var(--control-secondary-text-hover);
  }
  &:active {
    background-color: var(--active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
  &.activeButton_c15210 {
    background-color: var(--accent-3);
    border-color: var(--border-light);
    color: var(--text-0);
  }
  &.activeButton_c15210:hover {
    background-color: var(--accent-4);
    border-color: var(--border-light);
    color: var(--text-1);
  }
  &.activeButton_c15210:active {
    background-color: var(--accent-5);
    border-color: var(--border-light);
    color: var(--text-1);
  }
  &:is(h2) {
    background-color: var(--bg-4);
    border-color: var(--border);
    color: var(--text-5);
    min-width: 64px;
  }
  &:is(h2):hover {
    background-color: var(--message-hover);
    border-color: var(--border);
    color: var(--text-3);
  }
  &:is(h2):active {
    background-color: var(--active);
    border: 2px solid var(--border);
    color: var(--text-1);
  }
}
.endButton_c15210 {
  padding: 0 !important;
  &:first-child {
    margin-right: auto !important;
  }
  &:last-child {
    margin-left: auto !important;
  }
  span {
    display: none;
  }
}
.iconCaret_c15210 {
  margin: 0 !important;
}
.jumpToPageInlineInput_c15210 {
  width: 64px;
  margin: 0 !important;
  .wrapper__72c38 {
    min-height: 32px;
  }
  input {
    padding: 0;
    text-align: center;
  }
}
.container__72c38 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.resultsBlocked_a7e67f {
  background: var(--background-feedback-warning);
  border: 1px solid var(--icon-feedback-warning);
  border-radius: var(--radius-sm);
  color: var(--text-feedback-warning);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
  margin-bottom: var(--space-xs);
  margin-inline: var(--space-xs);
  padding: 8px;
  > div:last-child {
    color: var(--text-default);
  }
}
.resultsBlockedImage_a7e67f.resultsBlockedImage_a7e67f {
  margin-inline-end: 8px;
  background-color: currentColor;
  background-image: unset;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M10 3.1a2.37 2.37 0 0 1 4 0l8.71 14.75c.84 1.41-.26 3.15-2 3.15H3.29c-1.74 0-2.84-1.74-2-3.15L9.99 3.1Zm3.25 14.65a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM13.06 14l.37-5.94a1 1 0 0 0-1-1.06h-.87a1 1 0 0 0-1 1.06l.38 5.94a1.06 1.06 0 0 0 2.12 0Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  height: 20px;
  width: 20px;
}
.container_bd5bb4 {
  background: var(--background-feedback-info);
  border: 1px solid var(--icon-feedback-info);
  border-radius: var(--radius-sm);
  color: var(--text-feedback-info);
  box-sizing: border-box;
  min-height: 56px;
  margin: var(--space-xs);
  padding-block: unset;
  padding-inline: var(--space-md);
}
.paginationLimitHeader_a98f3b, .helpMessageContainer_a98f3b {
  margin-inline: var(--space-xs);
  margin-top: var(--space-xs);
  margin-bottom: 0;
  width: unset;
}

/* squared server/avatars from: Comfy by Nyria */
[id^="uid_"] circle {
    display: none!important;
}
:root .wrapper__44b0c .dots__5ad89 {
  overflow: visible;
}
:root .wrapper__44b0c .dots__5ad89 g {
  transform: translateY(2.5px);
}
:root .wrapper__44b0c foreignObject,
:root .callAvatarMask_f910d0 foreignObject,
:root .avatarContainer__183c2 foreignObject,
:root .avatarMasked__0b3c8 {
  mask: none;
  -webkit-mask: none;
}
:root .wrapper__44b0c,
:root .avatar_c19a55,
:root .profile_d6fbe8 .avatarUploaderInner-yEhTv5,
:root .voiceAvatar_f910d0,
:root .avatar_c19a55,
:root .avatar__44b0c,
:root .border_f910d0,
:root .avatar__07f91,
:root .clickableAvatar__183c2,
:root .emptyUser__183c2,
:root .avatar__183c2,
:root .wrapper_f910d0.ringingIncoming_f910d0::after,
:root .wrapper_f910d0.ringingOutgoing_f910d0::after,
:root .replyAvatar_c19a55,
:root .avatarSpeaking__44b0c,
:root .avatar-2EVtgZ,
:root .avatarContainerMasked__183c2,
:root .appAvatar-2_lufo,
:root .embedAuthorIcon__623de,
:root .userAvatar__55bab,
:root .wrapper__44b0c foreignObject{
  border-radius: var(--roundness-avatar);
}
:root .wrapper_cc5dd2 foreignObject {
  mask: none;
  -webkit-mask: none;
}
:root .wrapperSimple_cc5dd2 {
  overflow: visible;
}
:root .wrapperSimple_cc5dd2,
:root .wrapper_cc5dd2 foreignObject,
:root .folderPreviewWrapper__48112,
:root .folderGroupBackground__48112,
:root .flexChild__7c0ba .avatarUploaderInner_cd0bbe {
  border-radius: var(--roundness-server);
}
:root .iconInactive_f34534 {
  border-radius: calc(var(--roundness-server) - 4px);
}
:root .wrapper_cc5dd2 foreignObject {
  transition: border-radius 200ms;
}
:root .wrapper_cc5dd2:hover foreignObject {
  border-radius: calc(var(--roundness-server) - 3px);
}


:root .userPopoutOuter_c69a7b {
  max-height: unset !important;
}
:root .userPopoutOuter_c69a7b .userPopoutInner_c69a7b {
  max-height: unset !important;
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2 {
  overflow: visible;
  min-height: 120px !important;
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2 foreignObject {
  mask: unset;
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2 .banner__68edb {
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6549019608), rgba(0, 0, 0, 0.6549019608));
  height: 120px;
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2 .pencilContainer_c3e427 {
  display: none;
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2[viewBox="0 0 340 60"] foreignObject {
  transform: translateY(-30px);
}
:root .userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2[viewBox="0 0 340 90"] foreignObject {
  transform: translateY(-15px);
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 {
  top: 20px !important;
  left: 16px;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 circle {
  display: none;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 .avatarHint_f89da9 {
  border-radius: 5px;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 .avatarHint_f89da9 foreignObject {
  mask: none;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 .avatarDecorationHint_f89da9 {
  border-radius: 5px !important;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}
:root .userPopoutOuter_c69a7b .avatarWrapper_f89da9 .avatarDecorationHint_f89da9 foreignObject {
  mask: none;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b {
  position: static;
  overflow: visible;
  margin: 16px;
  max-height: calc(100vh - 200px);
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .usernameSection_d2b491 > .copiableNameTag_c9ccf6 > .clickTarget__440f0, :root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .usernameSection_d2b491 > div > .userText_c9ccf6 {
  position: absolute;
  top: 25px;
  left: 115px;
  z-index: 1;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .usernameSection_d2b491 > .copiableNameTag_c9ccf6 > .clickTarget__440f0 > span, :root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .usernameSection_d2b491 > div > .userText_c9ccf6 > span {
  word-break: unset;
  white-space: unset;
}
:root .userPopoutOuter_c69a7b .profileBadges_f89da9:empty + .userPopoutOverlayBackground_c69a7b .nickname_c9ccf6 {
  top: 20px;
}
:root .userPopoutOuter_c69a7b .pronouns_c9ccf6 {
  padding-top: 12px;
}
:root .userPopoutOuter_c69a7b .profileBadges_f89da9 {
  position: absolute;
  top: 70px;
  left: 110px;
  z-index: 1;
  background-color: transparent;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .scroller_d2b491 {
  padding-right: 12px !important;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .section_d7a21f {
  padding-top: 0;
  padding-bottom: 12px;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .divider_e6f9ab {
  display: none;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e {
  padding: 16px;
  margin-top: 25px;
  z-index: 1;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .text_c8b06d,
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .textRow__2ef49,
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .anchor_edefb8,
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .activityName__2ef49 {
  color: white;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .buttonColor_e36233 {
  border: none;
  background-color: var(--listening-test);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1294117647);
  color: #fff;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .headerTextNormal__2ef49::before {
  content: "";
  position: absolute;
  height: 25px;
  z-index: 1;
  width: 284px;
  top: -25px;
  left: 0;
  background: var(--background-secondary);
  background: var(--profile-gradient-primary-color);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: animate2 8s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
@keyframes animate2 {
  0% {
    -webkit-mask-position-x: 284px;
  }
  100% {
    -webkit-mask-position-x: 0;
  }
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  left: 0;
  top: 0;
  background: #7289da;
  background: var(--playing);
  border-radius: 0 0 10px 10px;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e::after {
  content: "";
  position: absolute;
  height: 25px;
  z-index: 2;
  width: 284px;
  top: -24px;
  left: 0;
  background: #7289da;
  background: var(--playing);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: animate 6s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .timeBarUserPopoutV2_c1d9fd::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background: #1db954;
  background: var(--listening);
  border-radius: 0 0 10px 10px;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .timeBarUserPopoutV2_c1d9fd::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 284px;
  top: -24px;
  left: 0;
  z-index: 3;
  background: #1db653;
  background: var(--listening);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: animate 6s linear infinite;
  animation-delay: 0s;
}
@keyframes animate {
  0% {
    -webkit-mask-position-x: 0;
  }
  100% {
    -webkit-mask-position-x: 284px;
  }
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .timeBarUserPopoutV2_c1d9fd .barInner_c8b06d {
  background-color: white;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .activity__20c1e .platformIcon__2ef49 {
  display: none;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .role_dfa8b6 {
  position: relative;
  overflow: hidden;
  border: none;
  z-index: 1;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .role_dfa8b6:not(.addButton__48c1c) {
  pointer-events: none;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .role_dfa8b6 .roleRemoveButton_dfa8b6 {
  position: static;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .role_dfa8b6 .roleRemoveButton_dfa8b6 .roleCircle__4f569 {
  width: var(--role-circle) !important;
  height: var(--role-circle) !important;
  pointer-events: auto;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .role_dfa8b6 .roleRemoveButton_dfa8b6 .roleCircle__4f569::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
  transition: background 200ms;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .role_dfa8b6 .roleRemoveButton_dfa8b6 .roleCircle__4f569:hover {
  background: #fd5959 !important;
}
:root .userPopoutOuter_c69a7b .userPopoutOverlayBackground_c69a7b .role_dfa8b6 .roleRemoveButton_dfa8b6 .roleRemoveIcon__48c1c {
  display: none;
}
:root .divider_ae36e5, .divider_d2b491{
	display: none;
}
