/**
* @name Comfy Purple
* @author Nyria
* @description edit of comfy by nyria ft. many many many uncredited snippets
* @invite rtBQX5D3bD
* @version 1.0
* @donate https://ko-fi.com/nyria
*/
@import url(https://raw.githubusercontent.com/rosalyunn/themes/main/comfyedit/main.css);
/*comfy variables*/
:root {
  --user-buttons-spacing: -4px;
  --user-buttons-color: #d5adf0;

  --avatar-radius: 5px;
  --status-radius: 3px;
  --server-radius: 8px;

  --mention-color: #f04747;
  --unread-color: #7289da;
  --mention-color-bar: #c66262;
  --mention-color-background: #c662621f;
  --mention-color-hover: #c6626226;
  --chat-buttons: #d5adf0;

  --spotify-color: #1edc62;
  --listening: #1db653;

  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;

  --playing: #0000005e;

  --role-circle: 5px;

  --discord-logo: none;
}
.theme-dark {
  --background-primary: #2B253D;
  --background-secondary: #2B253D;
  --background-secondary-alt: #2B253D;
  --background-tertiary: #131020;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #241e33;
  --background-accent: #5e4675;
  --background-message-hover: #413A64;
  --background-modifier-hover: #29233a;
  --background-modifier-active: #29233a;
  --background-modifier-selected: #29233a;
  --deprecated-card-bg: #191A1E;
  --background-floating: #29233a;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #241e33;
  --scrollbar-auto-track: #29233a;
  --scrollbar-thin-thumb: #29233a;
  --activity-card-background: #101320;
  --input-background: #272136;
}


/* oneko */
[class^=channelTextArea_]:before {
    background-image: url(https://raw.githubusercontent.com/Lylythii/OnekoStyles/main/onekoslvt.png) !important;
    position: absolute;
    top: 38px;
    left: -42px;
}





/* ------- repositions + resizes ------- */

/* small + right justify message bars */
.barBase__8839d {
  width: fit-content;
  margin-left: auto;
}


/* larger gif, sticker, and emote drawer */
.drawerSizingWrapper_e20f1f{
  width: 900px!important;
  position: absolute;
  top: -180px;
  height: 682px!important;
  background-color: #2a233aa6;
  border-radius: 7px;
}

/* fix user control panel avatar */
#app-mount > div.appAsidePanelWrapper__5e6e2 > div.notAppAsidePanel__95814 > div.app_b1f720 > div > div.layers__1c917.layers_a23c37 > div > div > div > div > div.sidebar_e031be > section > div.container_debb33 > div.avatarWrapper__500a6.withTagAsButton_e22174{
position: absolute!important;
left: 240px!important;
}
#app-mount > div.appAsidePanelWrapper__5e6e2 > div.notAppAsidePanel__95814 > div.app_b1f720 > div > div.layers__1c917.layers_a23c37 > div > div > div > div > div.sidebar_e031be > section > div.container_debb33 > div.avatarWrapper__500a6.withTagAsButton_e22174 > div.wrapper__3ed10.avatar_f8541f{
position: absolute!important;
left: 0px!important;
bottom: 0px!important;
}

/* move messages right */
.message_ccca67 {
    margin-left: 16px;
    border-radius: 5px;
}

/* change pip size */
.pictureInPictureVideo__31ff0{
     height: 327px!important; 
     width: 582px!important;
}

/* compact membercount */
#vc-membercount {
    margin-top: 0.5px !important;
    margin-bottom: -15px !important;
}

/* smaller channel list */
.sidebar_e031be {
  width: 220px !important;
}

/* mention bar */
.mentioned_fa6fd2:before {
  width: 4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* centered profile elements */
.usernameSection_dd6196,
.container-3g15px {
    text-align: center!important;
}
.customStatus__3aa7f {
    display: flex!important;
}
.nameTag-35jqbZ,
.customStatus__3aa7f,
.tabBar-2hXqzU {
    justify-content: center!important;
}

/* less round servers */
.guild-1EfMGQ .guildInner-3DSoA4, #app-mount foreignObject {
  border-radius: 5px !important;
}

/* cleanup activity box */a
.activityUserPopoutV2__89098, .activity__20c1e::before{
  border-radius: 5px!important;
  margin: 0px!important;
}
.headerText_c0138d{
  display: none;
}
.bodyNormal__77cee{
  position: relative;
  bottom: 4px;
}



/* ------- element removals ------- */

/* remove unread orb */
.unread__48cf4, .unreadImportant_e8bb44{
  display: none;
}

/*remove invite button next to channel name(removes settings icon as well if you have manage channels)*/
.actionIcon_b149a2 {
    display: none;
}

/* remove new member leaf icon */
[class^="newMemberBadge"] { display: none }

/* remove comfy activity wave */
.activity__20c1e::after, .heading-deprecated-12-semibold__785e8::before{
  display: none;
}

/* remove dividers */
.sectionDivider__9dbcb{
  display: none;
}

/* remove window control buttons */
.winButton_f17fb6{
  display: none;
}

/* context menu cleanup */
#user-context-mention, #user-context-message-user, #user-context-call, #user-context-note, #user-context-apps, #user-context-add-friend, #user-context-invite-to-server, #user-context-roles, #message-add-reaction-0, #message-add-reaction-1, #message-pin, #message-reply, #message-copy-text, #message-apps, #message-mark-unread, #message-tts, .wrapper__01a96{
  display: none;
}


/* ------- animations ------- */

/* animated message send(self messages animate twice) */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(12px) translateX(12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) translateX(0px);
    }
}
.message_ccca67 {
  animation: slide-up 0.3s ease;
}

/* user center button animation */
.button_ae40a4 .contents__322f4 {
    transform: rotate(0deg);
    transition: transform 0.1s;
}
.button_ae40a4:hover .contents__322f4 {
    transform: rotate(8deg);
}
.button_ae40a4:hover .contents__322f4 svg {
    height: 23px !important;
    width: 23px !important;
}
.button_ae40a4 .contents__322f4 svg {
    transition: width 0.1s, height 0.1s;
}





/* ------- misc snippets ------- */

/* compact blocked messages */
.scrollerInner__37fee>.groupStart__7b93c:not(.backgroundFlash__28f42)>.wrapper_a62503 {padding: 0 0 0 16px}
.scrollerInner__37fee>.groupStart__7b93c:not(.backgroundFlash__28f42)>.wrapper_a62503.compact_eda3c8 {padding: 0 0 0 108px}
.scrollerInner__37fee>.groupStart__7b93c:not(.backgroundFlash__28f42) {margin: 0}
.scrollerInner__37fee>.groupStart__7b93c.expanded_d275c4:not(.backgroundFlash__28f42) {background-color: var(--info-danger-background)}
.scrollerInner__37fee>.groupStart__7b93c:not(.backgroundFlash__28f42) .messageListItem__050f9 .groupStart__7b93c,
.scrollerInner__37fee>.groupStart__7b93c:not(.backgroundFlash__28f42, .expanded_d275c4)+.messageListItem__050f9 .groupStart__7b93c {margin-top: 0}
.scrollerInner__37fee>.groupStart__7b93c:not(.backgroundFlash__28f42) .messageListItem__050f9 {opacity: .5}
.blockedSystemMessage_d1b25e .iconContainer_d0200f {display: none}
.blockedMessageText_e808c7 {position: relative;font-size: 12px;line-height: 16px;color: var(--interactive-muted)}
.blockedMessageText_e808c7:hover {text-decoration: underline}
.blockedMessageText_e808c7:hover,.groupStart__7b93c.expanded_d275c4 .blockedMessageText_e808c7 {color: var(--info-danger-foreground)}
.blockedAction_bf310e {position: absolute;inset: 0;width: 100%;opacity: 0}
.blockedMessageText_e808c7:after {content: '';position: absolute;right: 0;height: 100%;width: 14px;pointer-events: none;background-color: currentColor;
-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

/* twemoji everywhere */
@font-face {
    font-family: "TwemojiColor";
    src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf");
}
:root {
    --font-primary: "gg sans", sans-serif, "TwemojiColor";
}

/* trans flag gif */
.childWrapper_a6ce15{
  background: none!important;
  content: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Forig00.deviantart.net%2F35a5%2Ff%2F2018%2F156%2Fa%2Fe%2Ftransgender_pride_flag__f2u__by_avakados-dcdjsv9.gif&f=1&nofb=1&ipt=95f0bdc42922063ecc38369bd8ce5d6ec889e63284c8fc2c3203d15520b670c2&ipo=images)!important;
}

/* context menu border */
.menu__088f7 { 
    border: 2px solid #61466b!important;
}

/* shiggy */
body:before {
  position: fixed;
  bottom: 0; right: 0;
  width: 31px; height: 31px;
  margin: 10px;
  z-index: 999;
  content: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=32&quality=lossless);
}

/* fix new member list */
.scroller__59ef4{
background-color: #2B253D;
}

/* simple edited icon */
.edited_b20dd9 {color: rgba(0,0,0,0)}
.edited_b20dd9::before {
        content: " ✎";
        color: var(--text-muted);
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1;
}

/*Minifiedmemberlist*/
:root{
    --hidden-user-width: 60px;--user-width: 240px;--transition-time: 0.08s
}
.container_f79ab4,
.membersWrap__5ca6b{
    transition-duration:var(--transition-time);
    justify-content:unset;
    min-width:unset;
    width:var(--hidden-user-width)
}
.membersGroup_cad095{
    height:0px;
    transition-duration:var(--transition-time);
    padding-top:0px
}
.container_f79ab4:hover 
.membersGroup_cad095,
.membersWrap__5ca6b:hover 
.membersGroup_cad095{
    height:40px;
    padding-top:24px
}
.container_f79ab4:hover,
.membersWrap__5ca6b:hover{
    width:var(--user-width)
}
.profilePanel-2PWEok{
    transition-duration:var(--transition-time)
}

.toastnotifications-notification-root{
    background-color: #262136b0;
}


/* dashless channels */
@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
@font-face
 { font-family: "dashless";
   size-adjust: 100%; /*adjust this to change word spacing*/
   src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
   unicode-range: U+002D; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=titleWrapper] > h2, /* top bar in thread view */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div, /* invite to channel dialog */
[class^=uploadDropModal_] strong, /* file drag upload */
[class^=channelNameSpan_] /* inbox */
 { font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }


/* hover animations */
 button.button_ae40a4 /* make user panel buttons round */ {
    border-radius: 50%;
}
.wrapper__612a5 .link_ddbb36 /* channels */,
.container_a48b21 /* members */,
.channel__0aef5 /* dms */,
.side_b4b3f6 .item__48dda /* settings */ {
    transition: margin-left 0.15s ease;
}
.wrapper__612a5:hover .link_ddbb36,
.side_b4b3f6 .item__48dda:hover {
    margin-left: 5px;
}
.container_a48b21:hover,
.channel__0aef5:hover {
    margin-left: 9px;
}


/* improved links */
.anchor_c8ddc0[title$=")"]:after {
  font-size: 0.6rem;
  content: " (" attr(href) ")";
  filter: grayscale(0.7);
}

/* mosaic zoom fix */
[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }

/* viggy on popout */
[id*="popout_"]::after, [class*=menu]::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url('https://media.discordapp.net/stickers/1217112512374505613.png');
    background-size: cover;
}
/* Alternate Shiggy Link: https://media.discordapp.net/stickers/1039992459209490513.png */


/* Server Icon Animation */
.svg__34dd4 {
    transform: scale(1);
    transition: transform 0.3s;
}
.svg__34dd4:hover{
    transform: scale(1.2);
}

/* Channel Button Animation */
.containerDefault_ae2ea4{
    transform: scale(1);
    transition: transform 0.1s;
}

.containerDefault_ae2ea4:hover{
    transform: scale(1.05);
}

/* user center button animation */
.button_ae40a4 .contents__322f4 {
    transform: scale(1);
    transition: transform 0.2s;
}
.button_ae40a4:hover .contents__322f4 {
    transform: scale(1.2);
}

.imageContainer__1b5e9{
    transform: scale(1);
    transition: transform 0.2s;
}
.imageContainer__1b5e9:hover{
    transform: scale(1.1);
}

.gifFavoriteButton_bca32d{
    scale: 140%;
    position: relative;
    top: 15px;
    left: 25px;
}

